#container{
    height: 900px;
    width: 900px;
    display: grid;
    margin: auto;
    grid-template-columns: 1.5fr 2fr;
    grid-auto-rows: minmax(auto,350px);
    
    
}
body{
    color: white;
}
#header{
    text-align: center;
    background-image: url(header.png);
    height: 300px;
    width: 900px;
    margin: auto;
    font-size: 50px;
}
.nama{
    white-space:normal; 
}

#part1{
    background-color: #1698ac;
    text-align: center;
    
}
#part2{
    background-color: #5ac9d2;
    text-align: center;
}
#part3{
    background-color: #1698ac;
    text-align: center;
    
}
#part4{
    background-color: #5ac9d2;
    text-align: center;
}
#part5{
    background-color: #1698ac;
    text-align: center;
}
#part6{
    background-color: #5ac9d2;
    text-align: center;
}
#part7{
    background-color: #5ac9d2;
}
#part8{
    background-color: #1698ac;
}
.profpic{
    border-radius: 50%;
    margin-top: 50px;
}
.bulat{
    border-radius: 50%;
    height: 20px;
    width: 20px;
    background-color: white;
}
.edu{
    text-decoration-line: underline;
    margin-top: 90px;
    white-space: pre;
}   
.ex{
    text-decoration-line: underline;
    white-space: pre;
}
.skill{
    text-decoration-line: underline;
    white-space: pre;
}
h3{
    white-space: pre;
}
.dot{
    height: 15px;
    width:  15px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    white-space: pre;
    
}
.span{
    white-space: pre;
    text-align: right;
}
.h3skill{
    text-align: left;
    margin-left: 30px;
}
.profile{
    text-align: left;
    margin-left: 10px;
}


